<div class="page_form">
    <div class="form_container form_add_container">

        <form class="ui form ui inverted form form_connect form_add" action="{{ path('serveur.serveurCreate') }}" method="post">
            <label>Adresse IP :</label>
            <input type="text" name="ipAddress" placeholder="Adresse IP">
            <label>Nom du domaine :</label>
            <input type="text" name="dnsName" placeholder="DNS">
            <label>Identifiant :</label>
            <input type="text" name="login" placeholder="Identifiant">
            <label>Mot de passe :</label>
            <input type="password" name="password" placeholder="Mot de passe">

            <button>Créer un serveur</button>
        </form>

    </div>
</div>