#.gitignore file
vendor/
app/cache/
app/logs/
# app/config

app/config/adminConfig.php
app/config/config.php
app/config/config.old.php
app/config/bootstrap.php
app/config/mailer.php
app/config/preloader.config.php
app/config/preloader.script.php
app/config/services.php

app/controllers/IndexController.php
public/.htaccess

# Eclipse
.settings/
.project
.buildpath
 
# PhpStorm
.idea/
 
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
 
# Local History for Visual Studio Code
.history/