<div class="dashboard_container">
    <div class="secondary_menu">
        <ul>
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="#">Tableau de bord</a></li>
            <li class="header_info"><a href="{{path('dashboard.profile')}}"><i class="user icon"></i> {{name}}</a></li>
            <div class="dropdown">
                <span>Rôle : {{role}}<br></span>
                <a href="/login/terminate" class="ui inverted red button"><i class="sign out alternate icon"></i> Déconnexion</a>
            </div>
        </ul>
    </div>
    <aside class="dashboard_menu">
        <a href="{{path('home')}}"><img src="assets/img/Proxmox_pannel_V7.2_light.png" alt="logo proxmox pannel"/></a>
        <ul>
            <li><a href="{{path('dashboard.home')}}" class="link_active" title="Accueil (Dashboard)"><i class="home icon"></i><span>Accueil</span></a></li>
            <li><a href="{{path('dashboard.VM')}}" title="VM (Dashboard)"><i class="laptop icon"></i><span>Mes VM</span></a></li>
            <li><a href="{{path('dashboard.groups')}}" title="Groupes (Dashboard)"><i class="users icon"></i><span>Mes groupes</span></a></li>
            {% if role == '@ADMIN' or role == '@PROF' %}
            <li><a href="{{path('dashboard.servers')}}" title="Serveurs (Dashboard)"><i class="server icon"></i><span>Les serveurs</span></a></li>
            {% endif %}
            <li class="minimize_menu"><a class="minimize_link"><i class="caret square left outline icon"></i></a></li>
        </ul>
    </aside>
    <div class="dashboard_content">
        <div class="form_container form_add_container">

            <form class="ui form ui inverted form form_connect form_edit" action="{{ path('user.modify') }}" method="post">
                <label>Email :</label>
                <input type="text" name="login" placeholder="Email" value="{{user.login}}">
                <label>Mot de passe : {{user.serveurs[0]}}</label>
                <input type="password" name="password" placeholder="Mot de passe" value="{{user.password}}">

                <label>Serveurs :</label>
                <select class="ui fluid inverted dropdown" multiple="" name="serveurs[]">
                    <option value="">Serveur (en maintenance)</option>
                    {% for serverSelect in serverSelects %}

                    <option selected value="{{serverSelect.id}}">{{serverSelect.dnsName}}</option>

                    {% endfor %}

                    {% for server in servers %}

                    <option value="{{server.id}}">{{server.dnsName}}</option>

                    {% endfor %}
                </select>
                <input type = "hidden" name = "id" value="{{user.id}}"/>

                <button>Modifier votre profil</button>
            </form>

        </div>
    </div>
</div>