/* --------------------------------------------- Code du style de l'application ----------------------------è------------------ */
/* --------------------------------------------------- proxmox-pannel -------------------------------------------------------- */
/* ---------------------------------------------- developed by Nathan NICOLLE ----------------------------------------------- */
/* ---------------------------------------------------(Principalement)------------------------------------------------------ */

/* ========= Sommaire : =========
   0 - Généralités
   1 - Menu principal
     1.1 - Bouton de connexion/déconnexion
   2 - Accueil de la landing page
   	 2.1 - Banière de l'accueil (1ère section de l'accueil)
   	 2.2 - Schéma (2ème section de l'accueil)
   	 2.3 - Présentation des features de l'app (card descriptives + captures d'écran) (3ème section de l'accueil)
   	     2.3.1 - Card descriptives des features de l'app
   	     2.3.2 - Slider/Diaporama des captures de l'app
   3 - Formulaires
   4 - Style du dashboard
     4.1 - Menu du haut (avec le nom de l'utilisateur par exemple)
         4.1.1 - Partie du nom d'utilisateur
         4.1.2 - Dropdown avec le rôle de l'utilisateur et le bouton de déconnexion
     4.2 - Menu latéral (Dashboard)
         4.2.1 - Customized title (Label personnalisé contenant le title pour voir à quoi correspond chaque élément du menu)
     4.3 - Conteneurs
     4.4 - Page perso de l'utilisateur
     4.5 - Accueil du Dashboard
         4.5.1 - Catégories de l'accueil (VMs/Groupe/Serveur)
     4.6 - Cards qui contienent les infos des VM/Groupes/Serveurs
         4.6.1 - Boutons pour voir plus d'informations sur l'élément
         4.6.2 - Liens vers des éléments liés à l'élément parent (Par exemple liens vers les VMs d'un serveur)
   5 - Pied de page
   6 - Responsive zone
     6.1 - Ecran d'une largeur de 1700 px
     6.2 - Ecran d'une largeur type PC portable
     	 6.2.1 - Menu du dashboard
     	 6.2.2 - Formulaire de connexion
     6.3 - Ecran d'une largeur type Tablette/Smartphone
   7 - Mention Légales
   8 - Contact
 */

/* 0 - Généralités */
body{
	background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	background-size: cover;
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}

.segment.container {
	background-color: #4d4d4d;
}

.page_container {
	margin-top: 150px;
}

.main_container {
	display: flex !important;
	flex-direction: column !important;
}

/* 1 - Menu principal */
.ui.basic.inverted.segment {
	display: flex !important;
	width: 100% !important;
	position: fixed !important;
	transition: all 0.3s ease-in-out;
	z-index: 5 !important;
	background-color: #3D3D3D;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#link_connection {
	position: absolute;
	right: 0;
	margin-right: 2%;
}

@keyframes opacity_change {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

.ui.basic.inverted.segment > .ui.container {
	width: 100% !important;
}

.logo {
	animation: opacity_change 1s;
	height: 200px;
	transition: 0.5s ease-in-out;
}

.logo:hover {
	transform: scale(0.8);
	cursor: pointer;
}

/* 1.1 - Bouton de connexion/déconnexion (dans le menu principal)
*        (avec effet de remplissage par la gauche)
*/
.ui.button.ajax {
	background: transparent;
	border: 1px solid white;
	border-radius: 0;
	color: white;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: 0.2s;
}

.ui.button.ajax::after {
	content: "";
	background: #ecf0f1;
	position: absolute;
	z-index: -1;
	padding: 0.85em 0.75em;
	display: block;
	top: 0;
	bottom: 0;
	left: -100%;
	right: 100%;
	transition: all 0.4s ease-in-out;
}

.ui.button.ajax:hover::after {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.4s ease-in-out;
}

.ui.button.ajax:hover {
	color: black;
	background-color: white;
}

/* 2 - Accueil de la landing page */
/* 2.1 - Banière de l'accueil (1ère section de l'accueil) */
.banner {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 90vh;
	padding-top: 100px;
	align-items: center;
}


.logo_banner {
	background-color: white;
	border-radius: 20px;
}

.see_more {
	display: block;
	color: black;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 2%;
	font-size: 1.4em;
	background-color: transparent;
	border: none;
}

.see_more > i {
	margin-top: 5%;
}

.see_more:hover {
	cursor: pointer;
	color: #1e70bf;
}

/* 2.2 - Schéma (2ème section de l'accueil) */
#next_2 {
	margin-bottom: 15vh;
}

.schema_acc {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100vh;
	text-align: center;
	align-items: center;
	box-shadow:inset 0 -15px 5px -16px #111;
	background-color: #8ecae6;
}

.schema_acc h1 {
	margin-top: 1%;
}

/* 2.3 - Présentation des features de l'app (card descriptives + captures d'écran) (3ème section de l'accueil) */
.app_content {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 90vh;
	text-align: center;
	align-items: center;
	background-color: #495057;
	box-shadow:inset 0 -15px 5px -16px #111;
}

.app_content h2 {
	color: gray;
}

#app_content_title {
	transform: translateY(-10vh);
}

/* 2.3.1 - Card descriptives des features de l'app */
.cards_content {
	display: flex;
	justify-content: space-around;
	width: 100%;
	transform: translateY(-10vh);
}

.card_content {
	background-color: #3D3D3D;
	color: gray;
	padding: 2%;
	font-size: 1.3em;
	border-radius: 20px;
	width: 15%;
	box-shadow: 0px 3px 6px rgba(0, 0,0, 0.16);
	transition: 0.5s ease-in-out;
}

.card_content:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* 2.3.2 - Slider/Diaporama des captures de l'app */
.slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider img {
	display: none;
	max-width: 50%;
}

.slider img.active {
	display: block;
	animation: fade 0.8s;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.slider i {
	font-size: 2em;
}

.slider .previous_img {
	margin-right: 1%;
}

.slider .next_img {
	margin-left: 1%;
}

.slider div:hover {
	cursor: pointer;
}

/* 3 - Formulaires */
.form_container {
	display: flex;
	background-image: url("../img/bg_form.jpg");
	width: 30%;
	align-items: center;
	margin-left:auto;
	margin-right: auto;
	border-radius: 30px;
	background-size: cover;
	background-position: center;
	position: relative;
	flex-direction: column;
	min-height: 600px;
	overflow: hidden;
}

.form_connect {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.1);
	/* Cette partie permet d'obtenir l'effet "glassmorphism" */
	backdrop-filter: blur(1500px);
	box-shadow: 0 25px 45px rgba(9, 16, 24, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	padding: 2%;
	padding-top: 4%;
	padding-bottom: 4%;
	border-radius: 30px;
	width: 70%;
	margin-top: 4%;
}

.form_connect input {
	margin-bottom: 4% !important;
	background-color: #161313 !important;
	border-radius: 35px !important;
	padding-top: 3% !important;
	padding-bottom: 3% !important;
	color: white !important;
}


.form_connect label {
	font-size: 1.4em;
	margin-bottom: 1%;
	color: gray !important;
	margin-left: 4%;
}

.form_connect button {
	background-color: #161313;
	color: white;
	border-radius: 35px;
	border: none;
	padding: 3%;
	width: 50%;
	background-color: #161313;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s ease-in-out;
	margin-top: 1%;
}

.form_add_container {
	width: 45%;
	margin-bottom: 2%;
}

.form_add select {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.form_add label:last-child {
	margin-bottom: 0 !important;
}

.form_connect button:hover {
	cursor: pointer;
	background-color: #372f2f;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* other_action_form contient la partie avec le lien vers l'insicription dans le formulaire de connexion */
.other_action_form {
	border-radius: 600px 600px 30px 30px / 300px 300px 30px 30px;
	bottom: 0;
	position: absolute;
	background-color: white;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding-top: 4%;
	padding-bottom: 4%;
}

.other_action_form a {
	font-weight: bold;
	color: black;
	transition: 0.5s ease-in-out;
}

.other_action_form a:hover {
	color: #38b6ff;
}

/* 4 - Style du dashboard */
/* 4.1 - Menu du haut (avec le nom de l'utilisateur par exemple) */
.secondary_menu {
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	width: 100%;
	background-color: #272b30;
}

.secondary_menu ul {
	display: flex;
	margin-top: 0;
	list-style-type: none;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 12vw;
}

.secondary_menu ul li:first-child {
	margin-right: 2%;
}

.secondary_menu ul li a {
	display: block;
	color: gray;
	transition: 0.2s ease-in-out;
}

.secondary_menu ul li a:hover {
	background: rgba(255,255,255,.15);
	color: white;
}

/* 4.1.1 - Partie du nom d'utilisateur */
.header_info {
	position: absolute;
	right: 0;
	margin-right: 1%;
	width: 10%;
}

.header_info:hover {
	background: rgba(255,255,255,.15);
	color: white;
	cursor: pointer;
}

.header_info i {
	margin-right: 1%;
	border: 1px solid gray;
}

/* 4.1.2 - Dropdown avec le rôle de l'utilisateur et le bouton de déconnexion */
.dropdown {
	display: none;
	position: absolute;
	top: 90%;
	right: 0;
	background-color: #3a3f44;
	padding: 2%;
	margin-right: 1%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	text-align: center;
	transition: 0.8s ease-in-out;
}

.dropdown:hover {
	display: block;
}

.dropdown::before {
	content: "";
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	top:-30px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #3a3f44;
	z-index: 20;
}

.header_info:hover + .dropdown {
	display: block;
}

.dropdown a.ui.inverted.red.button {
	margin-top: 5%;
}

/* 4.2 - Menu latéral (Dashboard)  */
aside.dashboard_menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #3083DC;
	height: 100%;
	z-index: 4;
	width: 12vw;
	box-shadow: black 0px 10px 10px, black 0px 6px 6px;
	color: white;
	top:0;
}

aside.dashboard_menu img {
	background-color: white;
	width: 100%;
	transition: 0.5s ease-in-out;
	border-radius: 20px;
}

aside.dashboard_menu img:hover {
	transform: scale(0.8);
}

aside.dashboard_menu li {
	list-style-type: none;
}

aside.dashboard_menu a {
	display: block;
	color: white;
	padding: 6%;
	padding-left: 10%;
	font-size: 1.4em;
	transition: 0.5s ease-in-out;
	--elm-width-right: -10vw;
}

aside.dashboard_menu a.link_active {
	background-color: white;
	color: #707070;
	border-radius: 30px 0px 0px 30px;
	box-shadow: inset 0px 0px 2px black;
}

aside.dashboard_menu li a:hover {
	background-color: #707070;
	color: white;
	border-radius: 30px 0px 0px 30px;
	box-shadow: inset 0px 0px 2px black;
}

aside.dashboard_menu i {
	margin-right: 5%;
}

/* 4.2.1 - Customized title (Label personnalisé contenant le title pour voir à quoi correspond chaque élément du menu) */
aside.dashboard_menu ul li {
	position: relative;
}

aside.dashboard_menu ul li a::after {
	display: none;
	background-color: rgb(44, 44, 44);
	color: white;
	position: absolute;
	padding: 8%;
	border-radius: 20px;
	border: 1px solid gray;
	font-size: 0.8em;
	top: 50%;
	right: var(--elm-width-right);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	transform: translateY(-50%);
}

aside.dashboard_menu ul li a:hover::after {
	display: block;
	content: attr(title);
}

.minimize_menu {
	position: absolute !important;
	bottom: 0;
	right: 0;
	margin-bottom: 4%;
	font-size: 1.4em;
}

.minimize_menu a {
	padding: 18px !important;
}

.minimize_menu a:hover {
	cursor: pointer;
}

/* 4.3 - Conteneurs */
.dashboard_container {
	background-color: #272B30 !important;
	padding-bottom: 1%;
	color: gray;
	min-height: 120vh;
}

.dashboard_content {
	margin-left: 13vw;
	padding-top: 5%;
}

/* 4.4 - Page perso de l'utilisateur */
.user_infos {
	position: absolute;
	left: 50%;
	transform: translateX(calc(-50% + 12vw));
	margin-top: 6%;
}

.card_profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #495057;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 50%;
	transition: 0.5s ease-in-out;
}

.card_profile:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card_profile a {
	font-size: 0.8em;
}

.user_content {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	width: 95%;
}

.group {
	width: 100%;
}

.card_profile ul {
	margin-top: 0;
}

.user_picture {
	margin-left: 1%;
	font-size: 2.2em;
	border: 1px solid gray;
	padding: 1%;
}

.p_profile {
	width: 100%;
	color: gray;
	margin-left: 1%;
	font-size: 1.4em;
}

.p_profile span b {
	color: gray;
}

/* 4.5 - Accueil du Dashboard */
.time {
	text-align: center;
}

span.var_data {
	color: white;
}

.active_secondary {
	background: #4d4d4d;
}

a.ui.inverted.green.button {
	margin-bottom: 1%;
}

.no_element_found {
	background-color: #e76f51;
	color: black;
	padding: 1%;
	width: 50%;
	border: 2px dotted gray;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.no_element_found i {
	margin-right: 1%;
}

/* 4.5.1 - Catégories de l'accueil (VMs/Groupe/Serveur) (Ce sont les 'barres' sur lesquels on peut cliquer pour afficher ou cacher les éléments d'une catégorie) */
.subcategory {
	border-bottom: 1px solid gray;
	background-color: #495057;
	padding: 1%;
	width: 95%;
}

.subcategory:hover {
	cursor: pointer;
}

.subcategory i {
	margin-left: 1%;
}

.subcategory_2 {
	border-bottom: 1px solid gray;
	background-color: #495057;
	padding: 1%;
	width: 95%;
}

.subcategory_2:hover {
	cursor: pointer;
}

.subcategory_2 i {
	margin-left: 1%;
}

.subcategory_3 {
	border-bottom: 1px solid gray;
	background-color: #495057;
	padding: 1%;
	width: 95%;
}

.subcategory_3:hover {
	cursor: pointer;
}

.subcategory_3 i {
	margin-left: 1%;
}

/* 4.6 - Cards qui contienent les infos des VM/Groupes/Serveurs */
.card_container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.card_VM {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #495057;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: white;
	transition: 0.5s ease-in-out;
}

.card_VM:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	background-color: #393d42;
	cursor: pointer;
}

.card_VM p {
	font-size: 1.2em;
}

.card_VM i {
	font-size: 1.4em;
}

.card_VM ul {
	margin-top: 0;
}

.card_VM.oneElement {
	margin-right: 1%;
}

/* 4.6.1 - Boutons pour voir plus d'informations sur l'élément */
.link_vm {
	display: block;
	color: white;
	border: 1px solid white;
	padding: 4%;
	transition: 0.6s ease-in-out;
	font-size: 1.2em;
	border-radius: 10px;
	width: 50%;
	text-align: center;
}

.link_vm:hover {
	background-color: #272b30;
	box-shadow: inset 1px 1px 1px black;
}

/* 4.6.2 - Liens vers des éléments liés à l'élément parent (Par exemple liens vers les VMs d'un serveur) */
.list_foreign_elements li {
	list-style-type: none;
}

.list_foreign_elements li a {
	display: block;
	background-color: #474747;
	color: white;
	text-align: center;
	padding: 5%;
	margin-bottom: 5%;
	width: fit-content;
	transition: 0.5s ease-in-out;
}

.list_foreign_elements li a:hover {
	background-color: #1b1c1d;
}

/* 5 - Pied de page */
footer {
	display: none;
	background-color: #3D3D3D;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	color: gray;
	font-weight: bold;
	position: relative;
	min-height: 130px;
}

footer a {
	color: gray;
	font-size: 1.4em;
	transition: 0.4s ease-in-out;
}

.powered_by {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 1%;
}

.powered_by img {
	height: 80px;
	transition: 0.5s ease-in-out;
}

.powered_by img:hover {
	cursor: pointer;
	transform: scale(0.8);
}

.powered_by p {
	margin-bottom: 1px;
}

/* 6 - Responsive zone */
/* 6.1 - Ecran d'une largeur de 1700 px */
@media screen and (max-width: 1700px) {
	.form_container {
		width: 50%;
	}

	.form_connect {
		width: 75%;
	}


}

/* 6.2 - Ecran d'une largeur type PC portable */
@media screen and (max-width: 1300px) {
	/* 6.2.1 - Menu du dashboard */
	aside.dashboard_menu ul {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}

	aside.dashboard_menu ul li {
		width: 100%;
		margin-left: 0 !important;
	}

	aside.dashboard_menu ul li a {
		width: 100%;
		margin-left: 1%;
	}

	/* 6.2.2 - Formulaire de connexion */
	.form_container {
		width: 75%;
	}

	.form_connect {
		width: 80%;
	}

	.banner {
		padding-top: 0px;
	}

	#next_1 {
		margin-bottom: 0;
	}

	.schema_acc {
		height: 160vh;
	}

	#app_content_title {
		transform: translateY(-15vh);
	}

	.app_content {
		height: 105vh;
	}

	.cards_content {
		transform: translateY(-15vh);
	}

	footer {
		padding-top: 4%;
	}
}

/* 6.3 - Ecran d'une largeur type Tablette/Smartphone */
@media screen and (max-width: 600px) {
	.form_container {
		width: 100%;
	}

	.form_connect {
		width: 100%;
		border: none;
		border-right: none;
		border-bottom: none;
	}
}

/* 7 - Mention Légales */
.plegales{
	margin-left: 20%;
	font-weight: bold;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.hlegales{
	margin-left: 10%;
}

/* 8 - Contact */
.formContact{
display: block;
}

.form{
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}