body{
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}

.segment.container {
	background-color: #4d4d4d;
}

.ui.basic.inverted.segment {
	display: flex !important;
	width: 100% !important;
	position: fixed !important;
	transition: all 0.3s ease-in-out;
	z-index: 5 !important;
	background-color: #3D3D3D;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.page_container {
	margin-top: 200px;
	padding-bottom: 2%;
}

.form_container {
	display: flex;
	background-image: url("../img/bg_form.jpg");
	width: 30%;
	align-items: center;
	margin-left:auto;
	margin-right: auto;
	border-radius: 30px;
	background-size: cover;
	background-position: center;
	position: relative;
	flex-direction: column;
	min-height: 600px;
	overflow: hidden;
}

.form_connect {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.1);
	/* Cette partie permet d'obtenir l'effet "glassmorphism" */
	backdrop-filter: blur(1500px);
	box-shadow: 0 25px 45px rgba(9, 16, 24, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: 2%;
	padding-top: 4%;
	padding-bottom: 4%;
	border-radius: 30px;
	width: 70%;
	margin-top: 4%;
}

.form_connect input {
	margin-bottom: 4% !important;
	background-color: #161313 !important;
	border-radius: 35px !important;
	padding-top: 3% !important;
	padding-bottom: 3% !important;
	color: white !important;
}


.form_connect label {
	font-size: 1.4em;
	margin-bottom: 1%;
	color: gray !important;
	margin-left: 4%;
}

.form_connect button {
	background-color: #161313;
	color: white;
	border-radius: 35px;
	border: none;
	padding: 3%;
	width: 50%;
	background-color: #161313;
	margin-left: auto;
	margin-right: auto;
	transition: 0.5s ease-in-out;
	margin-top: 1%;
}

.form_connect button:hover {
	cursor: pointer;
	background-color: #372f2f;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.other_action_form {
	border-radius: 600px 600px 30px 30px / 300px 300px 30px 30px;
	bottom: 0;
	position: absolute;
	background-color: white;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding-top: 4%;
	padding-bottom: 4%;
}

.other_action_form a {
	font-weight: bold;
	color: black;
	transition: 0.5s ease-in-out;
}

.other_action_form a:hover {
	color: #38b6ff;
					 }

@keyframes opacity_change {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

.ui.basic.inverted.segment > .ui.container {
	width: 100% !important;
}

.main_container {
	display: flex !important;
	flex-direction: column !important;
}

.logo {
	animation: opacity_change 1s;
	height: 200px;
	transition: 0.5s ease-in-out;
}

.logo:hover {
	transform: scale(0.8);
}

.banner {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1000px;
	padding-top: 15% !important;
}

.other_content {
	background-color: white;
	height: 1000px;
}

.ui.button.ajax {
	background: transparent;
	border: 1px solid white;
	border-radius: 0;
	color: white;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: 0.2s;
}

.ui.button.ajax::after {
	content: "";
	background: #ecf0f1;
	position: absolute;
	z-index: -1;
	padding: 0.85em 0.75em;
	display: block;
	top: 0;
	bottom: 0;
	left: -100%;
	right: 100%;
	transition: all 0.4s ease-in-out;
}

.ui.button.ajax:hover::after {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.4s ease-in-out;
}

.ui.button.ajax:hover {
	color: black;
	background-color: white;
}

/* Style du dashboard */
.secondary_menu {
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	width: 100%;
}

.secondary_menu ul {
	display: flex;
	margin-top: 0;
	list-style-type: none;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 12vw;
}

.secondary_menu ul li:first-child {
	margin-right: 2%;
}

.secondary_menu ul li a {
	display: block;
	color: gray;
	transition: 0.2s ease-in-out;
}

.secondary_menu ul li a:hover {
	background: rgba(255,255,255,.15);
	color: white;
}

.header_info {
	position: absolute;
	right: 0;
	margin-right: 1%;
	width: 10%;
}

.header_info:hover {
	background: rgba(255,255,255,.15);
	color: white;
	cursor: pointer;
}

.header_info i {
	margin-right: 1%;
	border: 1px solid gray;
	padding: 1%;
}

.dropdown {
	display: none;
	position: absolute;
	bottom: -100px;
	right: 0;
	background-color: #3a3f44;
	padding: 2%;
	margin-right: 1%;
	transition: 0.2s ease-in-out;
}

.header_info:hover + .dropdown {
	display: block;
}

.dashboard_container {
	background-color: #272B30 !important;
	padding-bottom: 1%;
	color: gray;
	height: 100vh;
}

.dashboard_content {
	margin-left: 13vw;
}

.user_infos {
	position: absolute;
	left: 50%;
	transform: translateX(calc(-50% + 12vw));
	margin-top: 6%;
}

aside.dashboard_menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #3083DC;
	height: 100%;
	z-index: 4;
	width: 12vw;
	box-shadow: black 0px 10px 10px, black 0px 6px 6px;
	color: white;
	top:0;
}

aside.dashboard_menu img {
	background-color: white;
	width: 100%;
	transition: 0.5s ease-in-out;
}

aside.dashboard_menu img:hover {
	transform: scale(0.8);
}

aside.dashboard_menu li {
	list-style-type: none;
}

aside.dashboard_menu a {
	display: block;
	color: white;
	padding: 6%;
	padding-left: 10%;
	font-size: 1.4em;
	transition: 0.5s ease-in-out;
}

aside.dashboard_menu a.link_active {
	background-color: white;
	color: #707070;
	border-radius: 30px 0px 0px 30px;
	box-shadow: inset 0px 0px 2px black;
}

aside.dashboard_menu li a:hover {
	background-color: #707070;
	color: white;
	border-radius: 30px 0px 0px 30px;
	box-shadow: inset 0px 0px 2px black;
}

aside.dashboard_menu i {
	margin-right: 1%;
}

.time {
	text-align: center;
}

span {
	color: white;
}

/* Responsive zone */
@media screen and (max-width: 1700px) {
	.form_container {
		width: 50%;
	}

	.form_connect {
		width: 75%;
	}
}

@media screen and (max-width: 1300px) {
	.form_container {
		width: 75%;
	}

	.form_connect {
		width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.form_container {
		width: 100%;
	}

	.form_connect {
		width: 100%;
		border: none;
		border-right: none;
		border-bottom: none;
	}
}