<div class="page_form">
    <div class="form_container">

        <form class="ui form ui inverted form form_connect" action="{{ path('vm.VMCreate') }}" method="post">
            <label>Numéro :</label>
            <input type="text" name="number" placeholder="Numéro">
            <label>Nom :</label>
            <input type="text" name="name" placeholder="Nom">
            <label>Adresse IP :</label>
            <input type="text" name="ip" placeholder="Adresse IP">
            <label>Port SSH :</label>
            <input type="text" name="sshPort" placeholder="Port SSH">
            <label>OS :</label>
            <input type="text" name="os" placeholder="OS">
            <label>Utilisateur(s) :</label>
            <select class="ui fluid inverted dropdown" multiple="" name="user">
                <option value="">Utilisateur(s)</option>
                {% for user in users %}

                <option value="{{user.id}}">{{user.login}}</option>

                {% endfor %}
            </select>
            <label>Groupe(s) :</label>
            <select class="ui fluid inverted dropdown" multiple="" name="groupe">
                <option value="">Groupe(s)</option>
                {% for group in groups %}

                <option value="{{group.id}}">{{group.name}}</option>

                {% endfor %}
            </select>
            <label>Servers :</label>
            <select class="ui fluid inverted dropdown" name="serveur">
                <option value="">Server</option>
                {% for server in servers %}

                <option value="{{server.id}}">{{server.dnsName}}</option>

                {% endfor %}
            </select>

            <button>Créer une VM</button>
        </form>

    </div>
</div>