<div class="page_form">
    <div class="form_container">
        <br>
        <h1 style="color:white">{{byId.name}}</h1>
        <form class="ui form ui inverted form form_connect" action="{{ path('vm.VMModify') }}" method="post">

            <input type = "hidden" name = "id" value="{{byId.id}}"/>
            <label>Groupe :</label>
            <select class="ui fluid inverted dropdown" name="groupe">
                <option value="">Groupe</option>
                <option disabled selected value="{{byId.groupe}}">Groupe</option>
                {% for group in groups %}

                <option value="{{group.id}}">{{group.name}}</option>

                {% endfor %}
            </select>

            <button>Modifier le Groupe</button>
        </form>

    </div>
</div>