<div class="page_form">
    <div class="form_container">

        <form class="ui form ui inverted form form_connect" action="/" method="post">
            <label>Numéro :</label>
            <input type="text" name="number" placeholder="Numéro" value="15">
            <label>Nom :</label>
            <input type="text" name="name" placeholder="Nom" value="VM-01">
            <label>Adresse IP :</label>
            <input type="text" name="ip" placeholder="Adresse IP" value="169.254.5.15">
            <label>Port SSH :</label>
            <input type="text" name="sshPort" placeholder="Port SSH" value="22">
            <label>OS :</label>
            <input type="text" name="os" placeholder="OS" value="">
            <input type = "hidden" name = "id" value="{{id}}"/>
            <label>Utilisateur(s) :</label>
            <select class="ui fluid inverted dropdown" multiple="" name="user_">
                <option value="">Utilisateur(s)</option>
                <option value="1">Louka</option>
                <option value="2">Nathan</option>
                <option value="3">Luc</option>
                <option value="4">Héron</option>
            </select>
            <label>Groupe(s) :</label>
            <select class="ui fluid inverted dropdown" multiple="" name="groupe">
                <option value="">Groupe(s)</option>
                <option value="1">Alpha</option>
                <option value="2">Beta</option>
                <option value="3">Gamma</option>
                <option value="4">Delta</option>
            </select>
            <button>Modifier la VM <b>"<i>nom de la VM</i>"</b></button>
        </form>

    </div>
</div>