<div class="page_form">
    <div class="form_container">

        <form class="ui form ui inverted form form_connect" action="{{ path('vm.VMModify') }}" method="post">
            <label>Numéro :</label>
            <input type="text" name="number" placeholder="Numéro" value="{{byId.number}}">
            <label>Nom :</label>
            <input type="text" name="name" placeholder="Nom" value="{{byId.name}}">
            <label>Adresse IP :</label>
            <input type="text" name="ip" placeholder="Adresse IP" value="{{byId.ip}}">
            <label>Port SSH :</label>
            <input type="text" name="sshPort" placeholder="Port SSH" value="{{byId.sshPort}}">
            <label>OS :</label>
            <input type="text" name="os" placeholder="OS" value="{{byId.os}}">

            <input type = "hidden" name = "id" value="{{byId.id}}"/>

            <label>Utilisateur(s) :</label>
            <input type="text" name="" value="{{userName}}">

            <label>Serveurs :</label>
            <select class="ui fluid inverted dropdown" name="serveur">
                <option value="">Serveur</option>
                <option disabled selected value="{{byId.serveur}}">Serveur</option>
                {% for server in servers %}

                <option value="{{server.id}}">{{server.dnsName}}</option>

                {% endfor %}
            </select>

            <button>Modifier la VM</button>
        </form>

    </div>
</div>