<div class="page_form">
    <div class="form_container">
        <br>
        <h1 style="color:white">{{byId.name}}</h1>
        <form class="ui form ui inverted form form_connect" action="{{ path('vm.VMModify') }}" method="post">

            <input type = "hidden" name = "id" value="{{byId.id}}"/>
            <label>Serveur :</label>
            <select class="ui fluid inverted dropdown" name="serveur">
                <option value="">Serveur</option>
                <option disabled selected value="{{byId.serveur}}">Serveur</option>
                {% for server in servers %}

                <option value="{{server.id}}">{{server.dnsName}}</option>

                {% endfor %}
            </select>

            <button>Modifier la VM</button>
        </form>

    </div>
</div>