<div class="container_404">
    <i class="frown open outline icon"></i>
    <h1>Erreur 404</h1>
    <span>Oooop page '{{url}}' is not fou</span><span class="not_founded_error">nd...</span>
    <a href="{{path('home')}}" class="ui inverted button go_back">Go to home</a>
    <div class="plane">
        <i class="fighter jet icon"></i>
    </div>
    <div class="slide_effet">
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
        <i class="cloud icon"></i>
    </div>
</div>