<!--View associated to index action of MainController controller -->
<div class="banner">
    <h1>Vous souhaitez centraliser le contrôle de vos serveurs proxmox ?</h1>
    <img src="assets/img/Proxmox_pannel_V7.2_full.png" class="logo logo_banner">
    <h1>est l'outil qu'il vous faut !</h1>

    <button class="see_more">En savoir plus <br> <i class="fas fa-angle-double-down"></i></button>
</div>
<div class="other_content" id="other_content">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci animi quas sequi aliquid nisi, officia
        odio quos numquam excepturi delectus sed minus temporibus rerum necessitatibus dolores iusto minima quo
        quaerat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, necessitatibus voluptatem. Iure
        cupiditate beatae voluptatum nam explicabo laboriosam vero deserunt veniam eum sequi ab modi nulla
        tenetur, tempora a labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime id ab ducimus eveniet, debitis quisquam
        rerum nam dolorem, unde enim, adipisci voluptas ex doloremque officia earum hic pariatur odit dicta!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe tempora porro illum repellat, rem fugiat
        eveniet commodi explicabo quos voluptatem fugit necessitatibus animi accusamus eos nulla asperiores?
        Ipsam, aut voluptas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur praesentium accusantium commodi
        voluptatum reprehenderit quo voluptate, repellat dolor vitae ipsam, quam laudantium ratione, delectus
        modi quae impedit error aut fugit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci animi quas sequi aliquid nisi,
        officia
        odio quos numquam excepturi delectus sed minus temporibus rerum necessitatibus dolores iusto minima quo
        quaerat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, necessitatibus voluptatem. Iure
        cupiditate beatae voluptatum nam explicabo laboriosam vero deserunt veniam eum sequi ab modi nulla
        tenetur, tempora a labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime id ab ducimus eveniet, debitis quisquam
        rerum nam dolorem, unde enim, adipisci voluptas ex doloremque officia earum hic pariatur odit dicta!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe tempora porro illum repellat, rem fugiat
        eveniet commodi explicabo quos voluptatem fugit necessitatibus animi accusamus eos nulla asperiores?
        Ipsam, aut voluptas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur praesentium accusantium commodi
        voluptatum reprehenderit quo voluptate, repellat dolor vitae ipsam, quam laudantium ratione, delectus
        modi quae impedit error aut fugit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci animi quas sequi aliquid nisi,
        officia
        odio quos numquam excepturi delectus sed minus temporibus rerum necessitatibus dolores iusto minima quo
        quaerat?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, necessitatibus voluptatem. Iure
        cupiditate beatae voluptatum nam explicabo laboriosam vero deserunt veniam eum sequi ab modi nulla
        tenetur, tempora a labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime id ab ducimus eveniet, debitis quisquam
        rerum nam dolorem, unde enim, adipisci voluptas ex doloremque officia earum hic pariatur odit dicta!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe tempora porro illum repellat, rem fugiat
        eveniet commodi explicabo quos voluptatem fugit necessitatibus animi accusamus eos nulla asperiores?
        Ipsam, aut voluptas.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur praesentium accusantium commodi
        voluptatum reprehenderit quo voluptate, repellat dolor vitae ipsam, quam laudantium ratione, delectus
        modi quae impedit error aut fugit.
    </p>
</div>
{{ script_foot|raw }}