<!--View associated to index action of MainController controller -->
<div class="banner">
    <h1>Vous souhaitez centraliser le contrôle de vos serveurs proxmox ?</h1>
    <a target="_blank" href="assets/img/Proxmox_pannel_V7.2_full.png"><img src="assets/img/Proxmox_pannel_V7.2_full.png" class="logo logo_banner"></a>
    <h1>est l'outil qu'il vous faut !</h1>

    <button class="see_more" id="next_1">En savoir plus <br> <i class="angle double down icon"></i></button>
</div>
<div class="schema_acc" id="other_content">
    <h1>Exemple de schéma de gestion des VM</h1>
    <img src="assets/img/schéma.png">
    <button class="see_more" id="next_2"><i class="angle double down icon"></i></button>
</div>
<div class="app_content" id="app_content">
    <h1 id="app_content_title">L'application comprend :</h1>
    <div class="cards_content">
        <div class="card_content">
            <p>Un système de <br> Gestion des serveurs</p>
        </div>
        <div class="card_content">
            <p>Un système de <br> Gestion des VM</p>
        </div>
        <div class="card_content">
            <p>Un système de <br> Gestion des groupes</p>
        </div>
        <div class="card_content">
            <p>Un système de <br> Gestion des Droits</p>
        </div>
    </div>
    <h2>Photos de l'interface de l'application : </h2>
    <div class="slider">
        <div class="previous_img"><i class="angle left icon"></i></div>
        <img class="active" src="/assets/img/dashboard_home_part1_screenshot.jpg" alt="accueil de l'app">
        <img src="/assets/img/dashboard_home_part2_screenshot.jpg" alt="accueil de l'app scrollée">
        <img src="/assets/img/dashboard_VM_List.jpg" alt="liste des VM">
        <img src="/assets/img/dashboard_VM.jpg" alt="fiche d'une VM">
        <img src="/assets/img/dashboard_group_List.jpg" alt="liste des groupes">
        <img src="/assets/img/dashboard_server_List.jpg" alt="liste des serveurs">
        <img src="/assets/img/dashboard_server.jpg" alt="fichie d'un serveur">
        <img src="/assets/img/form_screenshot.jpg" alt="formulaire de connexion">
        <div class="next_img"><i class="angle right icon"></i></div>
    </div>
</div>

{{ script_foot|raw }}