<!--View associated to legales action of MainController controller -->
<h2 class="hlegales">ARTICLE 1 : L’éditeur</h2>

<p class="plegales">L’édition et la direction de la publication du site http://127.0.0.1:8090 est assurée
    par Nathan Nicolle, Louka Fauvel, Papillon Luc, dont l’adresse e-mail est nathan.nicolle@sts-sio-caen.fr, louka.fauvel@sts-sio-caen.fr, luc.papillon@sts-sio-caen.fr .</p>

<h2 class="hlegales">ARTICLE 2 : L’hébergeur</h2>

<p class="plegales">L’hébergeur du site http://127.0.0.1:8090 est la Société X, dont le siège social est situé au 14 rue du Maine 14000 Caen ,
    avec le numéro de téléphone :  06 06 06 06 06</p>

<h2 class="hlegales">ARTICLE 3 : Accès au site</h2>

<p class="plegales">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée
    ou non et pouvant découlant d’une nécessité de maintenance.
En cas de modification, interruption ou suspension des services le site http://127.0.0.1:8090 ne saurait être tenu responsable.</p>

<h2 class="hlegales">ARTICLE 4 : Collecte des données</h2>

<p class="plegales">Le site http://127.0.0.1:8090 se doit de garder et de sécuriser les données des utilisateurs. Les utilisateurs enregistrés sur le site
    http://127.0.0.1:8090 ont donné leurs accords de la sauvegarde des données afin d'assurer un bon fonctionnement.
    Ils peuvent demander la suppression de leurs données.
</p>


<h2 class="hlegales">ARTICLE 5 : Propriété intellectuelle</h2>

<p class="plegales">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site http://127.0.0.1:8090﻿,
    sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues
    par le Code de la propriété intellectuelle et le Code civil.</p>

