<div class="dashboard_container">
    <div class="secondary_menu">
        <ul>
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="#">Tableau de bord</a></li>
            <li class="header_info"><i class="fas fa-user"></i> {{name}}</li>
            <div class="dropdown">
                <span>Rôle : {{role}}</span>
            </div>
        </ul>
    </div>
    <aside class="dashboard_menu">
        <a href="{{path('home')}}"><img src="assets/img/Proxmox_pannel_V7.2_light.png" alt="logo proxmox pannel"/></a>
        <ul>
            <li><a href="#" class="link_active"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a href="{{path('dashboard.VM')}}"><i class="fas fa-laptop"></i> Mes VM</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Mes groupes</a></li>
        </ul>
    </aside>
    <div class="dashboard_content">
        <h1 class="time"></h1>
        <h2>Votre rôle est : <span> {{role}} </span></h2>
        <h2 class="subcategory">Vos VM <i class="fas fa-chevron-down" id="showbtn"></i></h2>
        <div class="card_container home_card_container">
            {% for vm in vms %}
            <div class="card_VM">
                <h1><i class="fas fa-desktop"></i></h1>
                <p><b>Numéro de VM :</b> {{ vm.number }}</p>
                <p><b>Nom :</b> {{ vm.name }}</p>
                <p><b>Adresse IP :</b> {{ vm.ip }}</p>
                <a href="{{path('dashboard.oneVM', [vm.id])}}" class="link_vm">+ Plus d'infos</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    let now = new Date();
    let i = document.querySelector("i");
    let time = document.querySelector(".time");

    var heure   = now.getHours();
    if(heure >= 2 && heure <= 6) {
        time.innerHTML = "Bonne nuit <span> {{name}} </span>";
    } else if(heure >= 7 && heure <= 12) {
        time.innerHTML = "Bonjour <span> {{name}} </span>";
    } else if(heure >= 13 && heure <= 18) {
        time.innerHTML = "Bonne après-midi <span> {{name}} </span>";
    } else if(heure >= 19 || heure <= 1) {
        time.innerHTML = "Bonsoir <span> {{name}} </span>";
    }
</script>
{{ script_foot|raw }}