<div class="dashboard_container">
    <div class="secondary_menu">
        <ul>
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="#">Tableau de bord</a></li>
        </ul>
    </div>
    <aside class="dashboard_menu">
        <a href="{{path('home')}}"><img src="assets/img/Proxmox_pannel_V7.2_light.png" alt="logo proxmox pannel"/></a>
        <ul>
            <li><a href="{{path('dashboard.home')}}"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a href="#" class="link_active"><i class="fas fa-laptop"></i> Mes VM</a></li>
            <li><a href="#"><i class="fas fa-users"></i> Mes groupes</a></li>
        </ul>
    </aside>
    <div class="dashboard_content">
        <h1>VM N°{{VM_Number}}</h1>
        <ul>
            <li>{{VM_Number}}</li>
            <li>{{VM_Name}}</li>
            <li>{{VM_IP}}</li>
        </ul>
    </div>
</div>