<div class="dashboard_container">
    <div class="secondary_menu">
        <ul>
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="#">Tableau de bord</a></li>
            <li class="header_info"><a href="{{path('dashboard.profile')}}"><i class="user icon"></i> {{name}}</a></li>
            <div class="dropdown">
                <span>Rôle : {{role}}<br></span>
                <a href="/login/terminate" class="ui inverted red button"><i class="sign out alternate icon"></i> Déconnexion</a>
            </div>
        </ul>
    </div>
    <aside class="dashboard_menu">
        <a href="{{path('home')}}"><img src="assets/img/Proxmox_pannel_V7.2_light.png" alt="logo proxmox pannel"/></a>
        <ul>
            <li><a href="{{path('dashboard.home')}}" class="link_active" title="Accueil (Dashboard)"><i class="home icon"></i><span>Accueil</span></a></li>
            <li><a href="{{path('dashboard.VM')}}" title="VM (Dashboard)"><i class="laptop icon"></i><span>Mes VM</span></a></li>
            <li><a href="{{path('dashboard.groups')}}" title="Groupes (Dashboard)"><i class="users icon"></i><span>Mes groupes</span></a></li>
            {% if role == '@ADMIN' or role == '@PROF' %}
            <li><a href="{{path('dashboard.servers')}}" title="Serveurs (Dashboard)"><i class="server icon"></i><span>Les serveurs</span></a></li>
            {% endif %}
            <li class="minimize_menu"><a><i class="caret square left outline icon"></i></a></li>
        </ul>
    </aside>
    <div class="dashboard_content">
        <h1>Votre profil - {{name}}</h1>
        <div class="card_profile">
            <h2 class="user_picture"><i class="user icon"></i></h2>
            <div class="user_content">
                <p class="p_profile"><span class="var_data"><b>Nom d'utilisateur/Email :</b> {{name}}</span></p>
                <p class="p_profile"><span class="var_data"><b>Rôle :</b> {{role}}</span></p>
                {% if groups %}
                <div class="group">
                    <p class="p_profile"><span class="var_data"><b>Groupe(s) :</b> </span></p>
                    <ul class="list_group_user list_foreign_elements">
                        {% for group in groups %}
                            <li class="p_profile"><a href="{{path('dashboard.groups')}}">{{group.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                    <div class="group">
                        <p class="p_profile"><span class="var_data"><b>Groupe(s) :</b> </span></p>
                        <div class="no_element_found no_element_profile">
                            <h2><i class="grin beam sweat outline icon"></i> Vous ne faites partie d'aucun groupe...</h2>
                        </div>
                    </div>
                {% endif %}
            </div>
            <a class="ui inverted red button" href="/login/terminate"><i class="sign out alternate icon"></i> Déconnexion</a>
        </div>
    </div>
</div>
{{ script_foot|raw }}