<div class="dashboard_container">
    <div class="secondary_menu">
        <ul>
            <li><a href="{{path('home')}}">Accueil</a></li>
            <li><a href="#">Tableau de bord</a></li>
            <li class="header_info"><a href="{{path('dashboard.profile')}}"><i class="fas fa-user"></i> {{name}}</a></li>
            <div class="dropdown">
                <span>Rôle : {{role}}<br></span>
                <a href="/login/terminate"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
            </div>
        </ul>
    </div>
    <aside class="dashboard_menu">
        <a href="{{path('home')}}"><img src="assets/img/Proxmox_pannel_V7.2_light.png" alt="logo proxmox pannel"/></a>
        <ul>
            <li><a href="{{path('dashboard.home')}}" title="Accueil (Dashboard)"><i class="fas fa-home"></i><span>Accueil</span></a></li>
            <li><a href="{{path('dashboard.VM')}}" class="link_active" title="VM (Dashboard)"><i class="fas fa-laptop"></i><span>Mes VM</span></a></li>
            <li><a href="{{path('dashboard.groups')}}" title="Groupes (Dashboard)"><i class="fas fa-users"></i><span>Mes groupes</span></a></li>
            {% if role == '@ADMIN' or role == '@PROF' %}
                <li><a href="{{path('dashboard.servers')}}" title="Serveurs (Dashboard)"><i class="fas fa-server"></i><span>Les serveurs</span></a></li>
            {% endif %}
            <li class="minimize_menu"><a><i class="far fa-caret-square-left"></i></a></li>
        </ul>
    </aside>
    <div class="dashboard_content">
        <h1>Liste des VM</h1>
        {% if role == '@ADMIN' or role == '@PROF' or role == '@ETUDIANT' %}
            <a href="{{path('vm.VMCreateForm')}}" class="ui inverted green button">+ Ajouter une VM</a>
        {% endif %}
        {% if vms %}
            <div class="card_container">
                {% for vm in vms %}
                    <div class="card_VM">
                        <h1><i class="fas fa-desktop"></i></h1>
                        <p><b>Numéro de VM :</b> {{ vm.number }}</p>
                        <p><b>Nom :</b> {{ vm.name }}</p>
                        <p><b>Adresse IP :</b> {{ vm.ip }}</p>
                        <a href="{{path('dashboard.oneVM', [vm.id])}}" class="link_vm">+ Plus d'infos</a>
                        <p>
                            <div class="ui toggle checkbox">
                                <input type="checkbox" tabindex="0" class="">
                                <label>Active</label>
                            </div>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>Aïe, vous n'avez aucune VM...</h2>
            <h3></h3>
        {% endif %}
    </div>
</div>
{{ script_foot|raw }}