<!--View associated to index action of MyAuth controller -->
<div class="page_form">
    <div class="form_container">
        <form class="ui form ui inverted form form_connect" action="{{path('myAuth.connect')}}" method="post" id="connection">
            {{ csrf('connection') }}
            <label>Email :</label>
            <input type="email" name="email" placeholder="Email">
            <label>Mot de passe :</label>
            <input type="password" name="password" placeholder="Votre mot de passe">
            <button>Connexion</button>
        </form>
        <div class="other_action_form">
            <p>ou <a class="signin_link">inscrivez-vous</a> <a class="connect_link">connectez-vous</a></p>
            <form class="ui form ui inverted form form_connect form_add" action="{{ path('user.create') }}" method="post">
                <label>Email :</label>
                <input type="text" name="login" placeholder="Email">
                <label>Mot de passe :</label>
                <input type="password" name="password" placeholder="Mot de passe">

                <label>Serveurs :</label>
                <select multiple name="serveurs[]" id="myMulti" class="ui dropdown">
                    <option value="">Serveur</option>
                    {% for server in servers %}
                        <option value="{{server.id}}">{{server.dnsName}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="role" placeholder="Rôle" value="@ETUDIANT">
                <button>S'incrire</button>
            </form>
            <a class="close_link"><i class="times icon"></i></a>
        </div>
    </div>

</div>