<div id="_userInfo">
    {% block _before %}
    {% endblock %}
    {%if connected is not null %}
    {% block _beforeConnected %}
    {% endblock %}
    {% block _userInfo %}
    <div class="ui label">
        <a href="{{path('dashboard.home')}}"><i class="chart line icon"></i> {{ connected | raw }}</a>
    </div>
    {% endblock %}
    {% block _logoutButton %}
    <a href="{{authURL}}/terminate" class="ui black button ajax _logout"><!-- data-target="{{bodySelector}}" -->
        {% block _logoutCaption %}
        <i class="ui sign out alternate icon"></i> Se déconnecter
        {% endblock %}
    </a>
    {% endblock %}
    {% else %}
    {% block _beforeNotConnected %}
    {% endblock %}
    {% block _loginButton %}
    <a href="{{authURL}}" class="ui button ajax"><!-- data-target="{{bodySelector}}" -->
        {% block _loginCaption %}
        <i class="icon sign in"></i> Se connecter / S'isncrire
        {% endblock %}
    </a>
    {% endblock %}
    {% endif %}
    {% block _after %}
    {% endblock %}
</div>
