<div class="page_form">
    <div class="form_container form_add_container">

        <form class="ui form ui inverted form form_connect form_add" action="{{ path('route.routeModify') }}" method="post">
            <label>Port d'origine :</label>
            <input type="text" name="portOrigin" placeholder="Port d'origine" value="{{byId.portOrigin}}">
            <label>Port de destination :</label>
            <input type="text" name="portDest" placeholder="Port de destination" value="{{byId.portDest}}">
            <label>Host de destination :</label>
            <input type="text" name="hostDest" placeholder="Host de destination" value="{{byId.hostDest}}">
            <label>Ordre :</label>
            <input type="text" name="order_" placeholder="Ordre" value="{{byId.order_}}">

            <label>Serveur :</label>
            <select class="ui fluid inverted dropdown" multiple="" name="serveur">
                <option value="">Serveur</option>
                <option disabled selected value="{{byId.serveur}}">Serveur</option>
                {% for server in servers %}

                <option value="{{server.id}}">{{server.dnsName}}</option>

                {% endfor %}
            </select>

            <button>Créer une route</button>
        </form>

    </div>
</div>